  <div class="control-group type-filter">
    <label for="radio-1">All</label><!--
    --><label for="radio-2">Only favorite</label>
    <input type="radio" name="filter-by-type" id="radio-1" value="ALL"
      <% if (!isFavoriteProductsOnly) { %>checked<% } %>>
    <input type="radio" name="filter-by-type" id="radio-2" value="FAVORITE"
      <% if (isFavoriteProductsOnly) { %>checked<% } %>>
  </div>
  <div class="control-group favorite-tool">
    <label for="select-1">
      Favorite tool
    </label>
    <select id="select-1" class="js-fav-tool">
      <option></option>
      <% for(var i in tools) { %>
      <option value="<%- tools[i].name %>" <% if (tools[i].name === favoriteToolName) { %> selected<% } %>>
        <%= tools[i].name %>
      </option>
      <% } %>
    </select>
  </div>
  <div class="control-group">
    <button id="new">Add New Product</button>
  </div>
